
      <div class="directions">
        <div id="step-box">
            <h1>Step 1</h1>
          <div class="coffee-buttons">
                <div class="toggles">
                    <button onclick="getTypeSelect('espresso')" id="espresso">Espresso</button>
        
                    <button id="filter" onclick="getTypeSelect('filter')">Filter</button>
                </div>
            </div>
        </div>
        <div id="selectorDiv" class="hidden">
            <div id="step-box">
                <h1>Step 2</h1>
            <div class="selectors">
                <div id="espressoSelector" class="hidden">
                <p>Espresso Drinks</p>
                <select  id="espressoSelect" name="espressoDrinkSelect" onchange="getDrinkSelect()">
                    <option selected value="">Choose...</option>
                    <option>Affogato</option>
                    <option>Americano</option>
                    <option>Cappuccino</option>
                    <option>Cortado</option>
                    <option>Espresso</option>
                    <option>Latte</option>
                    <option>Mocha</option>
                    <option>Red Eye</option>
                    <option>Sparkling Americano</option>
                </select>
                </div>
                <div id="filterSelector" class="hidden">
                <p>Filter Coffee</p>
                <select id ="filterSelect" name="filterSelect" onchange="getDrinkSelect()">
                    <option selected value="">Choose...</option>
                    <option>Aeropress</option>
                    <option>Chemex</option>
                    <option>Clever Dripper</option>
                    <option>French Press</option>
                    <option>Kalita Wave</option>
                    <option>Moka Pot</option>
                    <option>Origami</option>
                    <option>Stagg X</option>
                    <option>V60</option>
                    </select>
                </div>
            </div>
            </div>
        </div>
        <div id="submitDiv" class="hidden">
            <div id="step-box">
                <h1>Step 3</h1>
                <div id="box-3">
                    <button id="submit-button" onclick="drinkSubmit()">Submit</button>
                </div>
            </div>
        </div>
    </div>
    