<header>
    <div class ="navBar">
        <a href = "index.html"><img src="logo.png" class = "logo" alt="Logo"></a>   
            <div class="navLinks">
                <a href="espresso">Espresso Drinks</a>
                <a href="filter.html">Filter Coffee</a>
                <a href="recipe">Recipe Maker</a>  
            </div>
    </div>
</header>