<div class="drink" onclick="drinkClick()">
                    <div class="drink-content">
                        <div class="flip-card-front">
                            <div class="image-container">
                               <img src = {{image}} alt={{name}}>
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <!-- added clickable link to the text
                            future idea is to make the whole div clickable -->
                            <a href="#"><h1> {{name}} </h1></a>
                        </div>
                    </div>
                </div>