body{
    margin: 0;
    padding: 0;
}

.navBar{
    
    background-color: rgb(187, 137, 85);
    height: 100px;
    
}

.navLinks{
    display: flex;
    justify-content: space-around;

    position: relative;
    bottom: -15px;
    /* border: 1px solid black; */
}


.navLinks a{
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color: black;
}

.title a{
    font-size: 50px;
}