
body{
    margin: 0;
    padding: 0;
    background-color: rgb(242, 236, 217);
}


.logo{
    
    height: 125px;
    width: 300px;

    height: auto;

    position:relative;
    left: 50px;
}

.navBar{
    
    display: flex;
    background-color: rgb(186, 136, 84);
    height: 155px;

}

.navLinks{

    display: flex;
    margin-left: auto;
    overflow: hidden;

}

.navLinks a{

    display: flex;
    margin-left: auto;
    min-width: 0;
    
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color: black;
    margin: 65px;
    float: left;
    font-size: 30px;
    
} 


.title a{
    font-size: 50px;
}

/* Referencing w3schools for flip card animation */
/* https://www.w3schools.com/howto/howto_css_flip_card.asp */

#poDrinks {
    display: block;
    margin: 75px;
    /* border: 1px solid black;  */


    /* adding flexbox property*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    justify-content: center;
}

.drink{
    font-family: 'Josefin Sans', sans-serif;
    background-color: transparent;
    width: 400px;
    height: 300px;
    cursor: pointer;
    
    
    perspective: 1000px;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    margin: 15px;
    

}

.drink-content {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flip-card-front, .flip-card-back{
    position: absolute;
    display: flex;
    backface-visibility: hidden;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.flip-card-front{
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    clip-path: circle();
}

.flip-card-back{
    background-color: rgb(187, 137, 85);
    color: black;
    clip-path: circle();
    transform: rotateY(180deg);
}

.flip-card-back a{
    color: black;
    text-decoration: none;
}

.drink:hover .drink-content{
    transform: rotateY(180deg);
}


/* card align*/



/* image size */
/* this can change if you want i just made the images circle because thats what we have in the example*/
.image-container img { 
    max-height: 100%;
    max-width: 100%;
    clip-path: 50%;
}



/* underline on navlinks */
.navLinks a:hover{
        text-decoration: underline;
    
}

/* affogato.html stuff */


.affogato-container {
    text-align: left;
}


/* Animations */
/* https://css-tricks.com/a-handy-little-system-for-animated-entrances-in-css/ */
.fadeIn {
    animation-duration: .3s;
    animation-name: fade;
    animation-delay: 0.2s;
    animation-fill-mode: backwards;
  }
  
@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.drink1{
    animation-delay: 0.5s; 
}

.drink2{
    animation-delay: 0.6s; 
}

.drink3{
    animation-delay: 0.7s; 
}

.drink4{
    animation-delay: 0.8s; 
}

.drink5{
    animation-delay: 0.9s; 
}

.drink6{
    animation-delay: 1s; 
}

.drink7{
    animation-delay: 1.1s; 
}

.drink8{
    animation-delay: 1.2s; 
}

.drink9{
    animation-delay: 1.3s; 
}


/* recipe page css */
.directions{
    display: relative;
}

.recipe-image-container img { 
    max-height: 100%;
    max-width: 100%;
    clip-path: 50%;
}

  
/* aside css */
.feature-div{
    margin: 20px;
}

.side-container div{
    /* min-width: 300px;
    min-height: 100px; */
    border-radius: 10px;
}

/* buttons */ 


/* .filter-button{
    position: relative;
    display: flex;
    justify-content: space-between;
} */

.coffee-selector{
    margin: 10px;
    align-items: center;
}

/* .espresso-button{
    position: relative;
    display: flex;

} */

.content{
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
}


/* For title page */
.titleCardContainer{
    height: 600px;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

.titleCardContainer img{
    width: 100%;
    height: 600px;
    object-fit: cover;
    
}

.introText{

    position: absolute;
    top: 350px;
    left: 150px;
    

    animation-delay: 0.5s; 
    animation-duration: 1s;
}

.introText2{
    
    position: absolute;
    top: 425px;
    left: 150px;
    width: 350px;

    animation-delay: 1.5s; 
    animation-duration: 1s;
}

.introText3{
    position: absolute;
    top: 375px;
    right: 150px;
    width: 350px;

    animation-delay: 2.5s; 
    animation-duration: 1s;
}

.aboutSection{
    position: relative;
    left: 100px;
    font-family: 'Josefin Sans', sans-serif;
    width: 75%;
}

.aboutTitle{
    position: absolute;
    left: 40px;
}

.aboutText{

    font-size: 20px;

    position: relative;
    top: 75px;
    left: 40px;
}

.end{
    position: relative;
    bottom: -125px;
    width: 100%;
    height: 150px;
    background-color: rgb(186, 136, 84);
}

/* drop downs */

.selectors{
    width:100%;
    vertical-align: top;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.espresso-select{
    float: left;
}

/* drink card */
.drink-directions{
    margin: 20px;
    border:5px solid rgb(187, 137, 85);
    border-radius: 10px;
    display: flex;
}

.recipe-container{
    float: right;
}

.drink-name{
    text-decoration: underline;
    align-items: center;
}

.drink-directions{
    padding: 50px 100px 50px 0px;
}


/*modal */  
  #sell-something-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    overflow: scroll;
  }
  
  .hidden {
    display: none;
  }
  
  .modal-dialog {
    font-family: 'Josefin Sans', sans-serif;
    width: auto;
    max-width: 400px;
    min-width: 350px;
    min-height: 300px;
    margin: 50px auto;
    background-color: rgb(186, 136, 84);
    border-radius: 15px;
  }
  
  .modal-header {
    position: relative;
    padding: 20px 20px;
  }
  
  .modal-header h3 {
    margin: 0;
    font-size: 28px;
    text-decoration: none;
  }
  
#modal-close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 24px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
  }
  
  .modal-body {
    padding: 20px;
  }

  .input {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 10px 0;
  }

  .input > label {
    flex: 1 60px;
    margin-right: 5px;
  }

  .input input {
    max-height: 30px;
  }

  .input-button{
    justify-content: center;
  }



/* button */
.toggle{
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.toggle button {
    border: none;
    background-color: rgb(186, 136, 84);
    display: inline-block;
    min-width: 170px;
    padding: 30px;
    font-size: 200%;
    text-align: center;
    cursor: pointer;
    
}


.end{
    position: relative;
    bottom: -125px;
    width: 100%;
    height: 150px;
    background-color: rgb(186, 136, 84);
}

.error{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 300%;
}

/* modal */
#modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.85);
  }
  
  #bean-counter-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    max-width: 2000px;
    max-height: 5000px;
    overflow: scroll;
  }

 .modal-header{
    background-color: rgb(237,210,181);
 }

 

#outer-ring {
    width: 275px;
    height: 50px;
    background-color: rgb(187, 137, 85);
    border-color: black;
    /* align-items: center; */
    /* justify-content: center; */
  }

/* timer */

.timer {

    position: relative;

    font-family: sans-serif;
    /* max-width: 100%;
    max-height: 100%; */
    border-radius: 10px;
    background-color: rgb(187, 137, 85);

    
  }
  
  .timer__part {
    font-size: 36px;
    font-weight: bold;
  }
  
  .timer__btn {
    width: 50px;
    height: 50px;
    margin-left: 16px;
    border-radius: 50%;
    border: none;
    color: white;
    background: #8208e6;
    cursor: pointer;
  }
  
  .timer__btn--start {
    background: #00b84c;
  }
  
  .timer__btn--stop {
    background: #ff0224;
  }

/* Beans */
#bean-section{
    width: 300px;
    height: 200px;
    border: rgb(188, 135, 70) solid 1px;
    
    overflow-x: hidden;
    overflow-y: scroll;
}

#bean-button{

    font-size: 100%;
    background-color: rgb(187, 137, 85);
    min-width: 100%;
    height: 40px;


    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    
}


.coffee-buttons{
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

/* vertical menu */


#userData {
    background-color: rgb(112, 80, 29); /* Grey background color */
    color: white; /* Black text color */
    display: block; /* making the links on top */
    text-decoration: none; /* Remove underline from links */

    height: 50px;

    margin-bottom: 5px;
    border-radius: 8px;
    margin-left: 0px;
    border: none;
    cursor: pointer;
    min-width: 100%;
    text-align: left;
}

/* modal for beans list */

.hidden {
    display: none;
  }

  #modal-backdrop2 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.85);
  }
  
  #bean-counter-modal2 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    max-width: 2000px;
    max-height: 5000px;
    overflow: scroll;
  }

 /* .modal-header{
    background-color: rgb(237,210,181);
 } */

#outer-ring {
    width: 275px;
    height: 50px;
    background-color: rgb(187, 137, 85);
    border-color: black;
    /* align-items: center; */
    /* justify-content: center; */
  }

  .modal-dialog2 {
    font-family: 'Josefin Sans', sans-serif;
    width: auto;
    max-width: 400px;
    min-width: 350px;
    min-height: 300px;
    margin: 50px auto;
    background-color: rgb(186, 136, 84);
    border-radius: 15px;
  }
  
  .modal-header2 {
    position: relative;
    padding: 20px 20px;
    background-color:  rgb(237,210,181);
  }
  
  .modal-header2 h3 {
    margin: 0;
    font-size: 28px;
    text-decoration: none;
  }
  
#modal-close2 {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 24px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
  }
  
  .modal-body2 {
    padding: 20px;
  }

  .input2 {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 10px 0;
    justify-content: space-between;
  }

  .input2 p {
    text-align: right;
  }

  #play-button{
    background-color: rgb(112, 80, 29);
  }

  #timer-button{
    background-color: rgb(112, 80, 29);
  }


  /* recipe page */
  #step-box{
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(186, 136, 84);
    content-visibility: visible;
    align-items: center;
    justify-content: center;
  }

.directions {
    display: flex; 
    flex-wrap: wrap;
    min-width: 100%;
    flex-basis: 20px;
    margin: 10px 0;
    align-items: center;
}
.directions > .selectors.espressoSelector {order: 2; }
.directions > .selectors {order: 3; }
.directions > .coffee-buttons {order: 1; }


#step-box button{
    background-color: rgb(112, 80, 29);
    border-radius: 30px;
    border-color: rgb(112,80, 29);
    transition: transform 0.3s ease;
    height: 60px;
    width: 150px;
    font-size: 200%;
}

#toggles button{
  margin: 10px;
  display: flex;
  align-items: center;
}

#espresso {
  display: flex;
  align-items: center;
}

#box-3 button {
  margin: 10px;
  position: relative;
  left: 15px;
  /* display: flex; */
  /* align-items: center; */
}

#submit-buttton {
  display: flex;
  /* align-items: center; */
}

#steps{
  background-color: rgb(112, 80, 29);
  border-radius: 30px;
  border-color: rgb(112,80, 29);
  height: 60px;
  width: 120px;
  font-size: 150%
}
