body{
    margin: 0;
    padding: 0;
}



.logo{
    
    height: 125px;
    width: 300px;

    height: auto;

    position:relative;
    left: 50px;
}

.navBar{
    
    display: flex;
    background-color: rgb(186, 136, 84);
    height: 155px;

}

.navLinks{

    display: flex;
    margin-left: auto;
    overflow: hidden;

}

.navLinks a{

    display: flex;
    margin-left: auto;
    min-width: 0;
    
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color: black;
    margin: 65px;
    float: left;
    font-size: 30px;
    
} 


.title a{
    font-size: 50px;
}

/* Referencing w3schools for flip card animation */
/* https://www.w3schools.com/howto/howto_css_flip_card.asp */

#poDrinks {
    display: block;
    margin: 75px;
    /* border: 1px solid black;  */


    /* adding flexbox property*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.drink{
    background-color: transparent;
    width: 400px;
    height: 300px;
    /* border: 1px solid black; */
    perspective: 1000px;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    margin: 15px;

}

.drink-content {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flip-card-front, .flip-card-back{
    position: absolute;
    display: flex;
    backface-visibility: hidden;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.flip-card-front{
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    clip-path: circle();
}

.flip-card-back{
    background-color: rgb(187, 137, 85);
    color: black;
    clip-path: circle();
    transform: rotateY(180deg);
}

.drink:hover .drink-content{
    transform: rotateY(180deg);
}


/* card align*/



/* image size */
/* this can change if you want i just made the images circle because thats what we have in the example*/
.image-container img { 
    max-height: 100%;
    max-width: 100%;
    clip-path: 50%;
}

